/* Ignacio Llaneza Aller UO294914 */
/*Selector Specificity: (001)*/
body {
    font-family: "Trebuchet MS", sans-serif;
    color: #241004;
    background-color: #BFD5BE;
    padding: 2em;
}
/*Selector Specificity: (001) de todos*/
h1,h2,h3,h4,h5,h6{
    color: #000000;
    /*Background-color heredada de body*/
}
/*Specificity: (001)*/
h2{
    border-bottom-style: solid;
    border-bottom-color: darkolivegreen;
}

/*Selector Specificity: (001)*/
header{
    /*color: #3b1a07;heredado de body*/
    background-color: #86AF83;
    padding: 1em;
}

/*Selector Specificity: (001)*/
a{
    color: #241004;
}

/*Selector Specificity: (002)*/
body a{
    text-decoration: underline;
    text-decoration-style: double;
}

/*Selector Specificity: (003)*/
header nav a{
    text-decoration: overline;
}

/*Selector Specifity: (002)*/
h1 a{
    text-decoration: none;
}

/*Selector Specificity: (001)*/
h1{
    font-size: 2em;
}

/*Selector Specificity: (001)*/
main {
    background-color: #BFD5BE;
}

/*Selector Specificity: (013)*/
body > p:first-of-type a{
    text-decoration-style: solid;
    color: #005C51;
}

/*Selector Specificity: (012)*/
body > p:first-of-type{
    font-size: 0.8em;
}

/*Selector Specificity: (003)*/
body ul li{
    list-style: circle;
}
/*Selector Specificity: (003)*/
body ol li{
    list-style: decimal-leading-zero;
    list-style-position: inside;
}
/*Selector Specificity: (002)*/
body table{
    table-layout: fixed;
    width: 80%;
    border-collapse: collapse;
    border-style: double;
    border: 0.1em solid black;
    background-color: #86AF83;
    margin: 0.5em;
}

/*Selector Specificity: (003)*/
body table caption{
    font-size: 1.5em;
    font-weight: bold;
    padding-bottom: 0.5em;
}

/*Selector Specificity: (002), Selector Specificity: (002), Selector Specificity: (002)*/
body td, body th, body td{
  text-align: center;
  font-size: 1.3em;
  padding: 0.2em;
  border: 0.1em solid #000000;
}

/*Selector Specificity: (002)*/
body video {
    width:80%;
    height:auto;
    border: #000000;
    border-width: 0.1em;
    border-style: double;
}

/*Selector Specificity:(010)*/
.active{
    color: #750000;
    /*Background olor heredado de header*/
}


@media screen and (max-width: 800px) {
    /*Selector Specificity: (012)*/
    body > p:first-of-type{
        display:none;
    }

    body {
        padding: 1em;
    }
}

@media screen and (max-width: 425px) {
    /*Selector Specificity: (001)*/
    body {
        padding: 0em;
    }
}

