header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

main section:last-of-type>div {
    width:30vw; 
    height: 30vw; 
}

@media screen and (max-width: 800px) {
    /*Selector Specificity: (012)*/
    header{
        display: grid;
        grid-row: 1fr 1fr;
    }
}
